@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 Ubuntu, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #18294f;
  color: #fff;
}

header h1 {
  margin: 0;
  padding: .3em;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  font-size: 1.125rem;
}

nav a {
  text-decoration: none;
  color: #6c8fe0;
  white-space: nowrap;
}

nav a:hover {
  color: #fff;
  background-color: #6c8fe0;
}

nav li {
  padding-bottom: .5em;
}

@media only screen and (min-width: 25em) {

  nav li {
    text-align: center;
    float: left;
    width: 50%;
    padding-bottom: 1em;
  }

  header {
    overflow: hidden;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  nav li {
    width: 25%;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
  }

  nav ul {
    float: right;
    width: 59%;
    padding: .7em 0 0 0;
  }

  header h1 {
    float: left;
    width: 40%;
    padding: 0;
    text-align: left;
  }

  header {
    padding: .75em;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }
}
